body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(135deg, #000000, #515151); ;
    width:100%;
    min-height:100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.todoList{
    width:70%;
    height: 80%;
    align-items: center;
    background-color: #252323;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}
.todoList h2{
    text-align: center;
    color: white;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3f3d3d;
    margin-bottom: 5px;
    border-radius: 30px;
    height: 6vh;
}
input{
    flex: 1;
    outline: none;
    border: none;
    padding: 5px;
    background: transparent;
    color: #ffffff;
    font-weight: bold;
}
button{
    border: none;
    outline: none;
    border-radius: 30px;
    height: 100%;
    width:20%;
    color: white;
    font-weight: bold;
    background-color: #22c922;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    color: white;
}